* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
h1 {
  font-size: 25px;
  color: $dark-purple;
  font-family: "Saira Stencil One", cursive;
  @include l {
    font-size: 55px;
  }
}
h2 {
  font-family: "Saira Stencil One", cursive;
  font-size: 19px;
  color: #000;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  @include l {
    font-size: 40px;
  }
  &:after{
    width: 100%;
    height: .45em;
    content: "";
    bottom: -.1em;
    position: absolute;
    left: 10%;
    z-index: -1;
    background-color: $light-purple;
  } 
}
.h2-desktop {
  display: none;
  @include l {
    display: block;
  }
}
.h2-mobile {
  h2 {
    margin: 0;
  }
  @include l {
    display: none;
  }
}

h3 {
  font-size: 17px;
  text-transform: uppercase;
  @include l {
    font-size: 22px;
  }
}
#home {
  padding-top: 30%;
  @include l {
    min-height: 100vh;
  }
}
#competences {
  padding-top: 100px;
  @include l {
    padding-top: 60px;
  }
}
#portfolio {
  padding-top: 60px;
  min-height: 100vh;
}
.flex-desktop {
  @include l {
    display: flex;
    justify-content: space-around;
  }
}
.card {
  .card-image {
    overflow: hidden;
    img {
    height: 300px;
    }
  }
}
.lien-git {
  color: #000;
  font-size: 16px;
  &:hover {
    color: rgba($color: $light-purple, $alpha: 0.7);
  }
  @include l {
    font-size: 18px;
  }
}
.email-div,
.tel-div  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.email-div {
  a {
    color: $dark-purple;
    display: inline-block;
    padding-top: 15px;
    &:hover {
      color: rgba($color: $light-purple, $alpha: 0.7);
    }
  }
}

/*--------------------- MENU ---------------------*/
nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 100;
  ul {
    display: inline-block;
    list-style: none;
    li {
      margin: 5px 5px;
      @include l {
        margin: 5px 30px;
      }
      a{
        color: #000;
        text-decoration: none;
        transition: all .2s linear; 
        &:hover {
          color: rgba($color: $light-purple, $alpha: 0.7);
          transform: scale(1.2);
          transition-delay: 0.2s;
        }
      }
    }
  }
}

/*--------------------- Timeline ---------------------*/
.timeline {
  border-left: 4px solid #000;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;    
  background: fade(#000, 3%);
  margin: 50px auto;  
  letter-spacing: 0.5px;   
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;   
  padding: 20px !important;   
  list-style: none;
  text-align: left;  
  font-weight: 100; 
  max-width: 60%; 
  @include l {
    max-width: 40%;
  }
  .timeline-content {
    border-bottom: 1px dashed rgba(#000, 0.4);
    padding-bottom: (50px * 0.5);
    margin-bottom: 50px;  
    position: relative;
    width: 100%;
    span { 
      text-align: right;
      font-weight: 100;    
      font-size: 0.9em;
      @include l {
        display: table-cell;
        vertical-align: top;
        position: absolute;
        left: -120px;
      }
    }

    &:last-of-type { 
      padding-bottom: 0;
      margin-bottom: 0; 
      border: none;      
    }

    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:after {
      box-shadow: 0 0 0 4px #000;    
      left: -27px;
      background: #fff;  
      border-radius: 50%;  
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }
  }
}

#experiences {
  .timeline {
    span {
      @include l {
        left: -170px;
      }
    }
  }
}

/*--------------------- Footer ---------------------*/
footer {
  border-top: rgba($color: #909090, $alpha: 0.7) solid 1.5px;
  max-width: 80%;
  margin: 0 auto;
  p {
    text-transform: uppercase;
    text-align: center;
  }
}